<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmallViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3A6A19A1CBF774A001A37A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3A6A1AE1CBF774A001A37A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3A6A1B91CBF774A001A37A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
